<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ escape(handler.settings["web_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css">
    <!-- 引入js库-->
    <script src="{{static_url("js_lib/jquery.min.js")}}"></script>
    <script src="{{static_url("js/script.js")}}"></script>
    <!-- 引入第三方js库-->
    {% block external_lib %}{% end %}
    <!-- 头部信息-->
    {% block head %}{% end %}
    <!-- 网页内嵌js脚本区域-->
    {% block script %}{% end %}
</head>
<body>
<div id="body">
    <div id="header">
        <div id="title">
            <h1><a>{{ escape(handler.settings["web_title"]) }}</a></h1>
        </div>

        <div id="entry">
            {% if controller["index"] == False %}
                <a href="/">{{ language_mapping["index"]["name"] }}</a>
            {% end %}
            {% if controller["login"] == False %}
                {% if controller["authorized"] == False %}
                    <a href={{ language_mapping["index"]["link"] }}>{{ language_mapping["index"]["name"] }}</a>
                    <a href={{ language_mapping["login"]["link"] }}>{{ language_mapping["login"]["name"] }}</a>
                    <a href={{ language_mapping["register"]["link"] }}>{{ language_mapping["register"]["name"] }}</a>
                {% else %}
                    <a href={{ language_mapping["mod_pwd"]["link"] }}>{{ language_mapping["mod_pwd"]["name"] }}</a>
                    <a href={{ language_mapping["logout"]["link"] }}>{{ language_mapping["logout"]["name"] }}</a>
                {%end %}
            {% end %}
        </div>
    </div>
    <!-- 导航模板-->
    <!--自动转义-->
    {% autoescape None %}
    {{ modules.Navigation(controller, language_mapping) }}
    <!-- 网页头部区域-->
    <div id="base_header">
        {% block header %}{% end %}
    </div>
    <div id="content">
        <!-- 网页内嵌j正常内容区域-->
        {% block body %}{% end %}
    </div>

    <footer>
        <div id="blank_padding">

        </div>
        {% block footer %}

        {% end %}
            <div id="copyright">
                <p class="owner">网站版权所有者信息.</p>
                <p id="butt">联系我们:<a href="mailto:raoyuanqin@qq.com">raoyuanqin@qq.com</a>.</p>
                <p class="small">友情链接： {% raw linkify("http://www.w3school.com.cn", extra_params='ref=website') %}.</p>
            </div>
    </footer>
</div>

</body>
</html>