/**以下为管理后台导航布局*/
.admin_navigation
{
    //border: 2px solid #009f95;
    //background-color: #fff6ce;
    width: 120px;
    float: left;
}

.ul_admin_navigation
{
    list-style-type:none;
    margin:0;
    padding:0;
    //min-height: 498px;
    //background-color: #e3ffab;
}

.ul_admin_navigation a
{
    margin-top: 2px;
    margin-bottom: 2px;
    display:block;
    width:120px;
    line-height:40px; /* 设置行高，将行高和高度设置同一个值，可以让单行文本垂直居中 */
    text-align:center; /* 居中对齐文字 */
    background: #1dbbdb; /* 设置背景色 */
    color:#fff; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    //border-right:1px solid #000; /* 在左侧加上分隔线 */
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    border-radius:8px;
}

.ul_admin_navigation li
{
    float:left;

}

.ul_admin_navigation li a:hover
{
    background: #9bee7e; /* 变换背景色 */
    color: #ffffff; /* 变换文字颜色 */
}


#menu li a.last
{
    border-right:0; /* 去掉左侧边框 */
}
/**管理后台导航布局结束*/

.class_admin_body
{
    position:relative;
    //border: 2px solid #009f95;
    //heigth:500px;
    max-heigth:auto;
    height:auto;
    overflow:hidden;
    margin:0 auto;
}

.class_admin_context
{
    width: 860px;
    border: 2px solid #9bee7e;
    position: center;
    margin-left: 15px;
    float: left;
    //border: 2px solid #ee1c1f;
}

.class_admin_context_form
{
    margin-left: 40px;
    align-content: center;
}

.class_admin_context_table
{
    //margin-left: 40px;
    width: 800px;
    line-height: 2em;
    font-family: Arial;
    border-collapse: collapse;
}

.class_admin_context_table_head tr {
    color: #902d2d;
    background-color: #e09999;
    border-bottom: 1px solid #fff;
}
.class_admin_context_table_body tr {
    color: #ac5959;
    font-size: 0.8em;
    border-bottom: 1px solid #fff;
    background-color: #ffe7e7;
}
.class_admin_context_table_head th {
    font-weight: normal;
    text-align: center;
    padding: 0 10px;
}
.class_admin_context_table_body td {
    padding: 0 10px;
    text-align: center;
}

.class_admin_context_table_td
{
    text-align: center;
}

.class_admin_context_table_body tr:hover {
    background-color: #ffd4d4;
}

.class_admin_context_button
{
    //right: 200px;
    width: 180px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid #009f95;
}

.class_admin_context_button_layout{
    text-align: center;
    margin-top: 20px;
    //border: 1px solid #db5341;
}
/*管理界面弹窗布局*/
.class_admin_popup_background {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.class_admin_popup_content {
    position: absolute;
    left: 40%;
    top: 30%;
	background:#eeeeee;
	width: 600px;
	z-index: 1;
	overflow: auto;
    border-radius:8px;
}

.class_admin_popup_body {
	background: #f3f7df;
	margin: auto;
	padding: 0 20px;
    text-align: center;
}

.class_admin_popup_title {
	padding: 5px;
	background: #ffc94e;
}

.class_admin_popup_title h2 {
	margin: 10px 0;
	color: white;
	padding-left: 15px;
}

.class_admin_popup_body h3 {
	margin: 0 0px;
	padding-top: 15px;
}

.class_admin_popup_body span{
    width: 120px;
    height: 25px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 15px;
    display:-moz-inline-box; /* css注释：for ff2 */
    display:inline-block;
}
.class_admin_popup_body_input{
    width: 200px;
    height: 25px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 15px;
    border-radius:5px;
}

.class_admin_context_file_button
{
    width: 300px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    border: 1px solid #5ccaee;
}

.class_admin_context_file{
    margin-left: 75px;
    margin-top: 50px;
    width: 700px;
    height: 300px;
    border: 1px solid #5ccaee;
    background-color: #f4f2ea;
    border-radius:5px;
    margin-bottom: 50px;
}

.class_admin_context_file_title{
    padding: 5px;
	background: #ffc94e;
}

 .class_admin_context_file_title h2 {
	margin: 10px 0;
	color: white;
	padding-left: 15px;
}


.class_admin_file_upload
{
    margin-top: 20px;
    align-content: center;
}

.class_admin_file_download{
    margin-top: 20px;
    align-content: center;
}

.class_admin_file_upload span{
    margin-left: 90px;
    width: 320px;
    height: 40px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    display:-moz-inline-box; /* css注释：for ff2 */
    display:inline-block;
}

.class_admin_file_download span{
    margin-left: 90px;
    width: 320px;
    height: 40px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    display:-moz-inline-box; /* css注释：for ff2 */
    display:inline-block;
}

#id_admin_file_download_label
{
    width: 300px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
}

#id_admin_file_download_item
{
    width: 100px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    border: 1px solid #5ccaee;
}

/*topic css*/
.class_admin_context_topic
{
    margin-left: 8px;
    width: 840px;
    border: 2px solid #8effe4;
    border-radius:5px;
    background-color: #d7eedf;
}

.class_admin_context_details_label
{
    float: left;
    width: 5em;
    font-family: "Calibri",sans-serif;
    font-size: 15px;
    font-weight:bold;
}

.class_admin_context_topic_details_id
{
    width: 5em;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 18px;
    font-weight:bold;
}

.class_admin_context_details_paragraph
{
    font-family: "Arial",sans-serif;
    font-size: 15px;
    border-radius:5px;
}

.class_admin_context_topic_id
{
    padding-top: 5px;
    background-color: #8effe4;
    padding-bottom: 5px;
}

.class_admin_context_topic_details div
{
    border-bottom:2px solid #ffc94e;
}

/*meeting popup table*/
.class_admin_meeting_form
{
    margin-top: 20px;
    align-content: center;
}

.class_admin_meeting_table
{
    width: 560px;
    line-height: 2em;
    font-family: Arial;
    border-collapse: collapse;
    border-radius: 3px;
}

.class_admin_meeting_table_head tr {
    color: #0f3639;
    background-color: #9bee7e;
    border-bottom: 1px solid #fff;
}
.class_admin_meeting_table_body tr {
    color: #0a1309;
    font-size: 0.8em;
    border-bottom: 1px solid #fff;
    background-color: #d7eedf;
}
.class_admin_meeting_table_head th {
    font-weight: normal;
    text-align: left;
    padding: 0 10px;
}

.class_admin_meeting_table_body tr:hover {
    background-color: #aaeed8;
}

/*member table*/
.class_admin_context_table_button{
    width: 70px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 1em;
    border-radius:2px;
    border: 1px solid #eec777;
    margin-left: 5px;
    float: right;
}

#id_admin_context_attendance_sign_form
{
    margin-bottom: 20px;
}