.navigation
{
    background-color: #3b5998;
    width: 1000px;
    height: 30px;
}

#menu
{
    list-style-type:none;
    margin:0;
    padding:0;
}
#menu a
{
    display:block;
    width:199px;
    line-height:30px; /* 设置行高，将行高和高度设置同一个值，可以让单行文本垂直居中 */
    text-align:center; /* 居中对齐文字 */
    background: #25788f; /* 设置背景色 */
    color:#fff; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    border-right:1px solid #000; /* 在左侧加上分隔线 */
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
}

#menu li
{
    float:left;

}

#menu li a:hover
{
    background: #9c8d0e; /* 变换背景色 */
    color: #ffffff; /* 变换文字颜色 */
}

#menu li a.last
{
    border-right:0; /* 去掉左侧边框 */
}




