.class_popup_edit_name
{
    border: 2px solid #e7d3c3;
    background-color: #fff6ce;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    font-weight:bold;
    border-radius: 20px;
}

.class_admin_popup_input_date{
    width: 200px;
    height: 25px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 15px;
    border-radius:5px;
}

.label_popup_edit_name
{
    align-content: center;
    text-align: center;
}
.label_popup_edit
{
    display: block;
    align-content: center;
    text-align: center;
    float: left;
}

.class_popup_edit_total
{
    position: relative;
    height: 30px;
    text-align: left;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 20px;
    font-weight:bold;
    width: 200px;
}

#edit_title
{
    margin-bottom: 20px;
}

.class_popup_edit_item
{
    width: 320px;
    float: left;
    padding-top: 10px;
    font-size: 20px;
}

#id_edit_detail
{
    border-radius: 5px;
    background-color: #d3fffd;
    height: 80px;
}

#id_popup_leave_apply_submit
{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 10px;
    border: 1px solid #a2ffe9;
}

.class_edit_input_block
{
    float: left;
    position: relative;
    left: 5px;
}
.class_edit_input_block select
{
    font-size: 15px;
    height: 30px;
    width: 100px;
    border-radius: 2px;
}

#id_popup_leave_apply_date
{
    font-size: 10px;
    height: 28px;
    width: 200px;
    border-radius: 2px;
}

.class_popup_submit
{
    height: 50px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
}
#popup_submit
{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    border-radius:5px;
    border: 1px solid #009f95;
}

.class_popup_browse_item
{
    width: 120px;
    float: left;
    padding-top: 10px;
    font-size: 20px;
}

.class_popup_browse_label
{
    height: 30px;
    display: block;
    float: left;
}

.class_popup_back
{
    height: 50px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
}

#popup_back
{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    border-radius:5px;
}

.class_popup_browse_total
{
    margin-top: 10px;
    height: 50px;

}

.label_popup_browse_total
{
    padding-top: 5px;
    font-size: 25px;
    font-weight:bold;
}

.class_applications_confirm
{
    height: 50px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
}

.class_admin_popup_layer_button{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
}
.class_handle_issues_applications
{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
}

.applications
{
    font-family: Calibri sans-serif;
    font-size: 20px;
}
.applications_item_name, .applications_item_user
{
    margin-top: 20px;
     height: 50px;
}

#id_input_topic_name, #id_input_topic_user,#id_admin_mod_issues
{
    width: 670px;
    height: 30px;
    border: 1px solid #000000;
    border-radius:5px;
    background-color: #a2ffe9;
    font-size: 20px;
}
.applications_item_brief
{
     height: 120px;
}

.applications_item_brief label
{
    display: block;
    float: left;
}

#id_input_topic_brief
{
    width: 680px;
    border: 1px solid #000000;
    border-radius:5px;
    background-color: #fff6ce;
    font-size: 20px;
}

.applications_item_date
{
    margin-top: 10px;
    height: 50px;
}

#id_select_topic_date
{
    height: 28px;
    width: 200px;
    border-radius:5px;
    border: 1px solid #009f95;
    font-size: 20px;
}

.class_popup_browse_detail
{
    margin-top: 10px;
    border: 2px solid#9bee7e;
    border-radius: 5px;
}
.class_popup_browse_detail_key
{
    display: block;
    width: 200px;
    border: 2px solid #db5341;
}

.class_popup_table_score_detail
{
    text-align: center;
    width: 742px;
    border-collapse:collapse;
    margin:10px;
    border-spacing:0;
}

.class_popup_table_score_detail td {
    border:1px solid #eed49b;
    padding: 2px;
}

.class_popup_table_score_detail tr {
    border:2px solid #eed49b;
    border-radius: 2px;
    padding: 5px;
}

.class_popup_table_score_detail th {
  border:2px solid #eed49b;
  padding: 5px;
}

#id_popup_table_title
{
    font-size: 20px;
    background-color: #9bee7e;
}

#id_popup_table_score_detail_item_name
{
    font-size: 18px;
    background-color: #8effe4;
}

#id_popup_table_score_detail_index
{
    background-color: #bbe1ee;
}
#id_popup_table_score_detail_key
{
    font-family: "Arial", sans-serif;
    font-weight: bold;
    background-color: #d7eedf;
}

.class_popup_browse_score_change_detail
{
    margin-top: 10px;
    border: 2px solid #1dbbdb;
    border-radius: 5px;
}

.class_issues_info span
{
    display:block;
    width: 110px;
    float: left;
    align-content: left;
    //position: relative;
    left: 110px;
    font-family: "Arial", sans-serif;
    font-weight: bolder;
}
#id_issues_title
{
    font-size: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bolder;
}

.class_issues_info
{
    background-color: #f4f2ea;
    margin: 20px;
    border: 2px solid #1dbbdb;
    border-radius: 5px;
}

.class_issues_details
{
    margin: 5px;
    //border: 2px solid #26db7f;
    border-radius: 5px;
}

#id_issues_info
{
    margin: 10px;
    padding:5px;
    background-color: khaki;
}

.class_issues_details p
{
    margin: 5px;
    padding:5px;
    background-color: #d7eedf;
}