

/*定义整体网页内容样式*/
body {
    color: #000000; /*页面显示颜色*/
    background: #fff; /*背景*/
    font-family: Georgia, Palatino, serif; /*字体*/
    max-width: 1000px;
    border: 1px;
    padding: 5px;
    margin: auto;
    position:relative;
  }

#header
{
    background-image: url(background/header_background.jpg);
    width: 1000px;
    height: 80px;
}
#entry
{
    position: relative;
    float:right;
    margin-top: 40px;
    margin-right: 2%;
    border-color: #8D8D8D;
    background-color: #1c94c4;
}

#entry a
{
    float: left;
    display:block;
    text-align:center; /* 居中对齐文字 */
    width:70px; /* 设置宽度 */
    height:25px; /* 设置高度 */
    background-color: #4bffa9; /* 设置背景色 */
    color: #000000; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    border:1px solid #40AFFE; /* 在左侧加上分隔线 */
}

#entry a:hover
{
    background: #549c50; /* 变换背景色 */
    color: #d9ff68; /* 变换文字颜色 */
}

#title
{
    float:left;
    margin-left: 2%;
    border: 2px;
}

#base_header
{
    text-align:center; /* 居中对齐文字 */
    animation:mymove 5s infinite;
}

.topics_current
{
    width: 1000px;
    border: 2px solid #61ac95;
}

.topics
{
    width: 1000px;
    border: 2px solid #aca647;
}
#copyright
{
     background-color: #d3fffd;
    font-family: Verdana, Arial sans-serif;

}

#blank_padding
{
    width:1000px;
    height: 30px;
}
#copyright p
{
    text-align:center; /* 居中对齐文字 */
    color: #000000; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
}

/*表格相关的CSS布局*/
#info_tables{
    margin-top: 20px;
    background: #8effe4;
    border: 2px solid #e78f08;
}

#table_item_name
{
    background: #ee7777;
    font-family:Arial sans-serif;
    height: 30px;
}

#table_title
{
    background: #d3fffd;
    height: 40px;
    font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.table_structure
{
    text-align: center;
    width: 1000px;
    border-collapse:collapse;
    margin:0;
    border-spacing:0;
}

.table_structure td {
    border:2px solid #0094ff;
    padding: 0;
}

.table_structure tr {
  border:2px solid #0094ff;
  padding: 0;
}

.table_structure th {
  border:2px solid #0094ff;
  padding: 0;
}

.col_name
{
    width: 100px;
    background: #c77405;
    border: 1px solid #ee7777;
}

.col_table_button
{
    width: 165px;

}
#id_home_point_detail
{
    margin: 5px;
    width: 70px;
    height: 30px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 14px;
    background: #917ce7;
    border: 1px solid #009f95;
    border-radius:3px;
}

#table_edit
{
    float: right;
    margin: 5px;
    width: 70px;
    height: 30px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 14px;
    background: #917ce7;
    border: 1px solid #009f95;
    border-radius:3px;
}

#user_score th
{
    height: 50px;
    font-family: Arial sans-serif;
    font-size: 25px;
}

#request_topics
{
    margin-top: 40px;
    padding-bottom: 10px;
    width: 1000px;
}

#request_topics p
{
    font-family: Arial sans-serif;
    font-size: 1.5em;
}

#applications_continue
{
    height: 40px;
    width: 200px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 20px;
    align-content: center;
    position: relative;
    left: 350px;
    border-radius:5px;
}

.modify_password_form
{
    margin-top: 20px;
    position: relative;
    width: 600px;
    height: 300px;
    border: 2px solid #e3ffab;
    text-align:right;
    font-family: Arial sans-serif;
    font-size: 20px;
    left: 200px;
    background-image: url(background/modify_passwd.jpg);
}

.modify_password_form span
{
    display:block;
    width: 120px;
    float: left;
    align-content: left;
    position: relative;
    left: 130px;
}

.modify_password_form input
{
    position: relative;
    right: 130px;
    width: 200px;
    height: 22px;
    border: 2px solid #aca647;
    font-family: Arial sans-serif;
    font-size: 20px;
}

.modify_password_form button
{
    position: relative;
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 20px;
    border: 1px solid #009f95;
}

.login_form
{
    margin-top: 20px;
    position: relative;
    width: 600px;
    height: 360px;
    border: 2px solid #e3ffab;
    text-align:right;
    font-family: Arial sans-serif;
    font-size: 20px;
    left: 200px;
    background-image: url(background/login.jpg);

}
.login_form span
{
    display:block;
    width: 120px;
    float: left;
    align-content: left;
    position: relative;
    left: 110px;
}

.login_form input
{
    position: relative;
    right: 150px;
    width: 200px;
    height: 22px;
    border: 2px solid #aca647;
    font-family: Arial sans-serif;
    font-size: 20px;
}

.login_form button
{
    position: relative;
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    border: 1px solid #009f95;
}

.login_form img
{
    position: relative;
    right: 150px;
    width: 280px;
    height: 60px;
    border: 1px solid #009f95;
}

#change_img
{
    position: relative;
    left: 170px;
    width: 280px;
}

.register_form
{
    margin-top: 20px;
    position: relative;
    width: 600px;
    height: 240px;
    border: 2px solid #e3ffab;
    text-align:right;
    font-family: Arial sans-serif;
    font-size: 20px;
    left: 200px;
    background-image: url(background/register.jpg);

}
.register_form span
{
    display:block;
    width: 120px;
    float: left;
    align-content: left;
    position: relative;
    left: 110px;
}

.register_form input
{
    position: relative;
    right: 150px;
    width: 200px;
    height: 22px;
    border: 2px solid #aca647;
    font-family: Arial sans-serif;
    font-size: 20px;
}

.register_form button
{
    position: relative;
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 15px;
    border: 1px solid #009f95;
}

#id_user_other_info input
{
    right: 150px;
    width: 200px;
    height: 22px;
    border: 2px solid #aca647;
    font-family: Arial sans-serif;
    font-size: 20px;
}
#id_user_other_info span
{
    font-family: Arial sans-serif;
    font-size: 20px;
}
#id_user_other_info_submit
{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 15px;
    border: 1px solid #009f95;
}



/*----------后台管理CSS----------*/
#admin_member_form
{
    margin-left: 40px;
}
#admin_member_table
{
    //margin-left: 40px;
    width: 800px;
    line-height: 2em;
    font-family: Arial;
    border-collapse: collapse;
}

#admin_member_table_head tr {
    color: #902d2d;
    background-color: #e09999;
    border-bottom: 1px solid #fff;
}
#admin_member_table_body tr {
    color: #ac5959;
    font-size: 0.8em;
    border-bottom: 1px solid #fff;
    background-color: #ffe7e7;
}
#admin_member_table_head th {
    font-weight: normal;
    text-align: left;
    padding: 0 10px;
}
admin_member_table_body td {
    padding: 0 10px;
}

#admin_member_table_body tr:hover {
    background-color: #ffd4d4;
}

/*管理界面弹窗布局*/
#admin_popup_background {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#admin_popup_frontend {
    position: absolute;
    left: 40%;
    top: 30%;
	background:#eeeeee;
	width: 600px;
	z-index: 1;
	overflow: auto;
}

#admin_popup_body {
	background:#eeeeee;
	margin: auto;
	height: 300px;
	padding: 0 20px;
}

#admin_popup_close {
	padding: 5px;
	background: #5cd31b;
}

#close-button {
	float: right;
	font-size: 30px;
}

#admin_popup_foot {
	padding: 5px 0;
	text-align: center;
	background: #5cd31b;
	color: white;
}

#admin_popup_close h2 {
	margin: 10px 0;
	color: white;
	padding-left: 15px;
}

#admin_popup_body h3 {
	margin: 0 0px;
	padding-top: 15px;
}

#admin_popup_close_button
{
    margin-left: 240px;
}

.admin_topics
{
    border: 2px solid #a3adee;
}

#id_points_exchange_user
{
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 15px;
    border: 1px solid #009f95;
}

#id_points_exchange_select
{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 15px;
    border: 1px solid #009f95;
}

#points_exchange
{
    margin-top: 20px;
    border: 2px solid #345eee;
}
#points_exchange h2
{
    text-align: center;
}

#id_home_leave
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#id_home_leave_apply
{
    right: 200px;
    width: 200px;
    height: 30px;
    font-family: "Arial Unicode MS",sans-serif;
    font-size: 20px;
    border-radius:5px;
    margin-top: 15px;
    border: 1px solid #a2ffe9;
}