{% extends "../base/base.html" %}
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
{% end %}
<!-- 网页内嵌js代码实现-->
{% block script %}
    <script type="text/javascript">
        function ChangeCode() {
            var code = document.getElementById('img_code');
            code.src += '?';
        }
    </script>
{% end %}
{% block header %}
    <h2>请登录</h2>
{% end %}
{% block body %}
    <form method="POST" class="login_form">
        {% raw xsrf_form_html() %}
        <p><span>账号:</span><input type="text" id="user_name"/></p>
        <p><span>密码:</span><input type="password" id="password" /></p>
        <p><span>验证码:</span><input type="text" id="verify_code"/></p>
        <img src="/verify_code" onclick='ChangeCode();' id="img_code">
        <p id="change_img">看不清，请点击验证码图片刷新</p>
        <p><button id="login" type="button" value={{nextname}}>登录</button></p>
    </form>
{% end %}