{% extends "../base/base.html" %}
<!--自动转义-->
{% autoescape None %}
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
{% end %}
<!-- 网页内嵌js代码实现-->
{% block script %}
    <script>

    </script>
{% end %}

{% block header %}
{{ modules.Header(user_name, language_mapping) }}
{% end %}

{% block body %}
    <style type="text/css">
        #id_nav_statistics a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>

<div class="class_stat_info">
{% if controller["authorized"] == True %}
    {% if current_scores["recharge"] == True %}
        <h3> 您当前申请过积分充值，无法参与积分兑换 </h3>
    {% end %}
    <h3> 您当前积分为：{{ current_scores["current"] }},可以兑换礼品的积分为：{{ current_scores["exchange"] }} </h3>
    <div id="id_stat_detail">
         <h3>当前分数明细如下：</h3>
        {% if point_stat is not None %}
            {% for key in point_stat %}
                {% if key != "user_name" %}
                <label class="label_popup_browse_detail">{{ key }}: {{point_stat[key]}}分。</label>
                <br>
                {% end %}
            {% end %}
        {% end %}
    </div>

    <div class="class_stat_detail_info">
    <table class="class_handle_context_table"  frame="box">
        <thead class="class_handle_context_table_head">
        <tr id="id_popup_table_title">
            <th colspan="4">分数详情</th>
        </tr>
        </thead>
        <tbody class="class_handle_context_table_body">
            <tr id="id_popup_table_item_name">
                <th>操作人</th>
                <th>积分规则</th>
                <th>规则分数</th>
                <th>变动时间</th>
            </tr>
            {% if history_table is not None %}
                {% for history in history_table %}
                <tr>
                    <td id="id_popup_item_transactor">{{history["transactor"]}}</td>
                    <td id="id_popup_item_mark_name">{{history["mark_name"]}}</td>
                    <td id="id_popup_item_points">{{history["points"]}}</td>
                    <td id="id_popup_item_datetime">{{history["datetime"]}}</td>
                </tr>
                {% end %}
            {% end %}
        </tbody>
    </table>
    </div>

    <div id="points_exchange">
    <h2> 积分兑换</h2>
        {% if len(presents_table) %}
            <h3> 您当前积分为：{{ current_scores["current"] }} ,可以兑换礼品的积分为：{{ current_scores["exchange"] }}</h3>
            <p>您当前可以兑换物品为：</p>
                <table class="class_handle_context_table"  frame="box">
                    <thead class="class_handle_context_table_head">
                    <tr id="id_popup_table_title">
                        <th colspan="4">兑换物品详情</th>
                    </tr>
                    </thead>
                    <tbody class="class_handle_context_table_body">
                        <tr id="id_popup_table_item_name">
                            <th>兑换物品</th>
                            <th>所需积分</th>
                            <th>最少积分</th>
                            <th>兑换后积分</th>
                        </tr>
                        {% if presents_table is not None %}
                            {% for present in presents_table %}
                                {% set exchange_after = current_scores["exchange"] - present["consume_point"] %}
                            <tr>
                                <td id="id_popup_item_transactor">{{present["present_name"]}}</td>
                                <td id="id_popup_item_mark_name">{{present["consume_point"]}}</td>
                                <td id="id_popup_item_points">{{present["exchange_min_score"]}}</td>
                                <td id="id_popup_item_points">{{exchange_after}}</td>
                            </tr>
                            {% end %}
                        {% end %}
                    </tbody>
                </table>
            {% set exchange_flags = True %}
        {% else %}
            <p>您当前积分不足，无法兑换。如需兑换，积分需满足大于16分。</p>
            {% set exchange_flags = False %}
        {% end %}

    {% if exchange_flags == True %}
    <label class="label_popup_edit">请选择您需要兑换的物品。</label>
        <div class="class_edit_input_block">
            <select id="id_points_exchange_select">
                {% for present in presents_table %}
                <option value={{ present["present_id"] }}>{{ present["present_name"] }}</option>
                {% end %}
            </select>
        </div>
    <input type="button" class="class_points_exchange_user" id="id_points_exchange_user" value="积分兑换"/>
    {% end %}
    </div>
    <div id="id_current_exchange_table">
        {% if user_exchange_tables is not None %}
        {% if len(user_exchange_tables) == 0 %}
            {% set exchange_is_not_null = False %}
        {% else %}
            {% set exchange_is_not_null = True %}
        {% end %}
        {% end %}
        {% if exchange_is_not_null %}
        <h3>您当前申请的积分兑换如下：</h3>
        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
        <table class="class_handle_context_table" id="admin_member_table">
        <thead class="class_handle_context_table_head">
            <tr id="id_popup_table_title">
                <th colspan="4">兑换详情</th>
            </tr>
        </thead>
        <tbody class="class_handle_context_table_body" id="admin_user_exchange_table_body">
        <tr id="id_popup_table_item_name">
            <th>兑换编号</th>
            <th>当前积分</th>
            <th>兑换物品</th>
            <th>申请时间</th>
        </tr>
        {% for user_exchange_table in user_exchange_tables %}
            {% if  user_exchange_table["exchanged"] is False %}
            <tr>
                <td class="class_admin_context_table_td" id="exchange_id">{{ user_exchange_table["exchange_id"] }}</td>
                <td class="class_admin_context_table_td" id="user_points">{{ user_exchange_table["user_points"] }}</td>
                <td class="class_admin_context_table_td" id="exchange_item">{{ user_exchange_table["exchange_item"] }}</td>
                <td class="class_admin_context_table_td" id="apply_date">{{ user_exchange_table["apply_date"] }}</td>
            </tr>
            {% end %}
        {% end %}
        </tbody>
    </table>
        </form>
    {% else %}
        <h3>您当前暂未申请积分兑换</h3>
    {% end %}
    </div>

    <div id="id_exchanged_history_table">
        {% if exchanged_history is not None %}
        <h3>您历史申请的积分兑换如下：</h3>
        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
        <table class="class_handle_context_table" id="admin_member_table">
        <thead class="class_handle_context_table_head">
            <tr id="id_popup_table_title">
                <th colspan="5">兑换历史详情</th>
            </tr>
        </thead>
        <tbody class="class_handle_context_table_body" id="admin_user_exchange_table_body">
        <tr id="id_popup_table_item_name">
            <th>记录编号</th>
            <th>兑换物品</th>
            <th>消耗积分</th>
            <th>处理人</th>
            <th>兑换时间</th>
        </tr>
        {% for exchanged in exchanged_history %}
            <tr>
                <td class="class_admin_context_table_td" id="id_admin_exchanged_history_id">{{ exchanged["history_id"] }}</td>
                <td class="class_admin_context_table_td" id="id_admin_exchanged_rule_name">{{ exchanged["exchange_rule_name"] }}</td>
                <td class="class_admin_context_table_td" id="id_admin_exchanged_score">{{ exchanged["exchange_rule_score"] }}</td>
                <td class="class_admin_context_table_td" id="id_admin_exchanged_transactor">{{ exchanged["exchanged_transactor"] }}</td>
                <td class="class_admin_context_table_td" id="id_admin_exchanged_date_time">{{ exchanged["exchanged_date_time"] }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
        </form>
    {% end %}

    </div>

{% else %}
<p> 您未登录，如需查看积分，请先登录 </p>
{% end %}
</div> <!-- end of static -->
{% end %}
