{% extends "../base/base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/assessment.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/subtitle.css") }}" type="text/css">

{% end %}

{% autoescape None %}
{% block header %}
{{ modules.Header(user_name, language_mapping) }}
{% end %}

{% block body %}
    <style type="text/css">
        #id_nav_topics a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>

<div class="class_topics_frame_work">
    <style type="text/css">
        #id_topic_subtitle_assessment a{
            background: #1e4371; /* 设置背景色 */
        }
        #id_nav_topics a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>

 {{ modules.Subtitle(controller, language_mapping) }}
    <div>
        {% set issues_exist = False %}
        {% for topics in  topics_table %}
                {% set issues_exist = True %}
        {% end %}

        {% if issues_exist is False %}
            <p> 当前无议题</p>
        {% end %}
        {% for topics in  topics_table %}
            <div class="class_issues_info">
                <div class="class_context_topic_id">
                    <label class="class_context_topic_details_id">议题编号:{% raw topics["issues_id"] %}</label>
                </div>
                <h5 class="user_name">议题主讲人：{{ topics["keynote_chinese_name"] }} [ {{ topics["keynote_user_name"] }} ]</h5>
                <div class="topic_details">
                    <h4>议题:</h4>
                    <div class="topic_title">{{ topics["issues_title"]}}</div>
                    <h4>议题简介:</h4>
                    <div class="topic_description">{% raw topics["issues_brief"] %}</div>
                    <h4>议题时间:</h4>
                    <div class="topic_time">{% raw topics["date_time"] %}</div>
                </div>
                 <h6>感兴趣:【{{ topics["interested_count"] }}】人，不感兴趣:【{{ topics["uninterested_count"] }}】人</h6>
                <div class="class_topic_assessment_button_layout">
                    <input type="button" class="class_topic_assessment_button" id={{ topics["issues_id"] }} value="感兴趣"/>
                    <input type="button" class="class_topic_assessment_button" id={{ topics["issues_id"] }} value="不感兴趣"/>
                </div>

            </div>
        {% end %}
    </div>
</div>
{% end %}