{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/attendance.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(username) }}
{% end %}

{% block body %}
<h3>出勤管理</h3>
<div class="class_admin_body">
    <style type="text/css">
        #id_admin_sidebar_nav_attendance a{
            background: #517141; /* 设置背景色 */
        }
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
    {{ modules.Admin(controller) }}
    <div class="class_admin_context">
        <h3>当前有如下用户请假，请处理：</h3>
        <form class="class_admin_context_form" id="id_admin_context_attendance_leave_form">
            <table class="class_admin_context_table" id="id_admin_context_attendance_leave_table" frame="box">
                <thead class="class_admin_context_table_head">
                    <tr id="id_admin_context_table_head">
                        <th>用户ID</th>
                        <th>姓名</th>
                        <th>编号</th>
                        <th>请假事由</th>
                        <th>请假日期</th>
                        <th>申请时间</th>
                        <th colspan="2">操作</th>
                    </tr>
                </thead>
                <tbody class="class_admin_context_table_body">
                {% if attendance_tables is not None %}
                    {% for attendance in attendance_tables %}
                        {% if attendance["attend"] == False and  attendance["absent_accept"] == False %}
                    <tr>
                        <td id="id_admin_attendance_username">{{attendance["username"]}}</td>
                        <td id="id_admin_attendance_nickname">{{attendance["nickname"]}}</td>
                        <td id="id_admin_attendance_absence_id">{{attendance["absence_id"]}}</td>
                        <td id="id_admin_attendance_absence_reason">{{attendance["absence_reason"]}}</td>
                        <td id="id_admin_attendance_datetime">{{attendance["datetime"]}}</td>
                        <td id="id_admin_attendance_apply_time">{{attendance["apply_time"]}}</td>
                        <td>
                        <div id="id_admin_attendance_table_button">
                            <input class="class_admin_context_table_button" id="id_admin_attendance_submit"  type="button" value="同意" >
                            <input class="class_admin_context_table_button" id="id_admin_attendance_cancel"  type="button" value="驳回" >
                        </div>

                        </td>
                    </tr>
                        {% end %}
                    {% end %}
                {% end %}
                </tbody>
            </table>
        </form>

        <h3>出勤签到：</h3>
        <form class="class_admin_context_form" id="id_admin_context_attendance_sign_form" name="member_form">
            <table class="class_admin_context_table" id="id_admin_context_attendance_sign_table"  frame="box">
                <thead class="class_admin_context_table_head">
                    <tr id="id_admin_context_table_head">
                        <th>用户ID</th>
                        <th>姓名</th>
                        <th colspan="1">操作</th>
                    </tr>
                </thead>
            <tbody class="class_admin_context_table_body">
            {% if attendance_tables is not None %}
                {% for attendance in attendance_tables %}
                    {% if attendance["attend"] == True and attendance["absent_accept"] == False %}
                <tr>
                    <td id="id_admin_attendance_username">{{attendance["username"]}}</td>
                    <td id="id_admin_attendance_nickname">{{attendance["nickname"]}}</td>
                    <td>
                        <div id="id_admin_attendance_table_button">
                            <input class="class_admin_context_table_button" id="id_admin_attendance_sign_in"  type="button" value="签到" >
                        </div>

                    </td>
                </tr>
                    {% end %}
                {% end %}
            {% end %}
            </tbody>
            </table>
        </form>
    </div>

</div> <!--end of admin body-->


{% end %}