{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/attendance.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(user_name) }}
{% end %}

{% block body %}
<h3>出勤管理</h3>
<div class="class_admin_body">
    <style type="text/css">
        #id_admin_sidebar_nav_attendance a{
            background: #517141; /* 设置背景色 */
        }
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
    {{ modules.Admin(controller) }}
    <div class="class_admin_context">
        <h3>当前有如下用户请假，请处理：</h3>
        <form class="class_admin_context_form" id="id_admin_context_attendance_leave_form">
            <table class="class_admin_context_table" id="id_admin_context_attendance_leave_table" frame="box">
                <thead class="class_admin_context_table_head">
                    <tr id="id_admin_context_table_head">
                        <th>用户ID</th>
                        <th>姓名</th>
                        <th>编号</th>
                        <th>请假事由</th>
                        <th>请假日期</th>
                        <th>申请时间</th>
                        <th colspan="2">操作</th>
                    </tr>
                </thead>
                <tbody class="class_admin_context_table_body">
                {% if attendance_tables is not None %}
                    {% for attendance in attendance_tables %}
                        {% if attendance["attend"] == False and  attendance["absent_accept"] == False %}
                    <tr>
                        <td id="id_admin_attendance_user_name">{{attendance["user_name"]}}</td>
                        <td id="id_admin_attendance_nick_name">{{attendance["nick_name"]}}</td>
                        <td id="id_admin_attendance_absence_id">{{attendance["absence_id"]}}</td>
                        <td id="id_admin_attendance_absence_reason">{{attendance["absence_reason"]}}</td>
                        <td id="id_admin_attendance_datetime">{{attendance["datetime"]}}</td>
                        <td id="id_admin_attendance_apply_time">{{attendance["apply_time"]}}</td>
                        <td>
                        <div id="id_admin_attendance_table_button">
                            <input class="class_admin_context_table_button" id="id_admin_attendance_submit"  type="button" value="同意" >
                            <input class="class_admin_context_table_button" id="id_admin_attendance_cancel"  type="button" value="驳回" >
                        </div>

                        </td>
                    </tr>
                        {% end %}
                    {% end %}
                {% end %}
                </tbody>
            </table>
        </form>

        <h3>出勤签到：</h3>
        <form class="class_admin_context_form" id="id_admin_context_attendance_sign_form" name="member_form">
            <table class="class_admin_context_table" id="id_admin_context_attendance_sign_table"  frame="box">
                <thead class="class_admin_context_table_head">
                    <tr id="id_admin_context_table_head">
                        <th>用户ID</th>
                        <th>姓名</th>
                        <th colspan="1">操作</th>
                    </tr>
                </thead>
            <tbody class="class_admin_context_table_body">
            {% if attendance_tables is not None %}
                {% for attendance in attendance_tables %}
                    {% if attendance["attend"] == True and attendance["signed"] == False %}
                <tr>
                    <td id="id_admin_attendance_user_name">{{attendance["user_name"]}}</td>
                    <td id="id_admin_attendance_nick_name">{{attendance["nick_name"]}}</td>
                    <td>
                        <div id="id_admin_attendance_table_button">
                            <input class="class_admin_context_table_button" id="id_admin_attendance_absence"  type="button" value="缺席" >
                            <input class="class_admin_context_table_button" id="id_admin_attendance_sign_in"  type="button" value="已到" >

                        </div>

                    </td>
                </tr>
                    {% end %}
                {% end %}
            {% end %}
            </tbody>
            </table>
        </form>
                <!-- 弹窗内容开始 -->
        <div class="class_admin_popup_background" id="id_admin_attendance_edit_popup_background">
            <div  class="class_admin_popup_content" id="id_admin_attendance_edit_popup_frontend">
                <div  class="class_admin_popup_title" id="id_admin_attendance_edit_popup_close">
                    <h2 id="id_admin_attendance_edit_sub_title">缺席原因</h2>
                </div>
                <div class="class_admin_popup_body" id="admin_popup_body">
                    <p id="id_admin_attendance_edit_operation"></p>
                     {% if leave_reason is not None %}
                    <p><span>用户ID:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_attendance_popup_user_name"/></p>
                    <p>
                        <span>兑换物品:</span>
                        <select class="class_admin_popup_body_input" id="id_admin_popup_absent_reason">
                        {% for reason in  leave_reason%}
                            <option value={{ reason["reason_id"] }}>{{reason["leave_reason"]}}</option>
                        {% end %}
                        </select>
                    </p>
                    {% end %}
                    <input type="button" class="class_admin_context_button" id="id_admin_attendance_edit_submit" value="确定" />
                    <input type="button" class="class_admin_context_button" id="id_admin_attendance_edit_cancel" value="取消" />

                </div>

            </div>
        </div>
        <!-- 弹窗内容结束 -->

    </div>
</div> <!--end of admin body-->


{% end %}