{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/deduct.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(username) }}
{% end %}

{% block body %}
<h3>扣分项目管理</h3>
<div class="class_admin_body">
    {{ modules.Admin(controller) }}
    <div class="class_admin_context">
        <h3>当前所有扣分项目如下：</h3>
        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
        <table class="class_admin_context_table" id="admin_member_table">
        <thead class="class_admin_context_table_head" id="admin_member_table_head">
            <tr>
                <th></th>
                <th>项目编号</th>
                <th>扣分项目</th>
                <th>扣减分数</th>
            </tr>
        </thead>
        <tbody class="class_admin_context_table_body" id="admin_member_table_body">
        {% for deduct_table in deduct_tables %}
            <tr>
                <td class="class_admin_context_table_td"><input type="radio" name="select_id" value={{ deduct_table["deduct_id"] }}></td>
                <td class="class_admin_context_table_td" id="deduct_id">{{ deduct_table["deduct_id"] }}</td>
                <td class="class_admin_context_table_td" id="deduct_name">{{ deduct_table["deduct_name"] }}</td>
                <td class="class_admin_context_table_td" id="deduct_points">{{ deduct_table["deduct_points"] }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
        <br />
        <input type="button" class="class_admin_context_button" id="admin_deduct_add" value="新增" />
        <input type="button" class="class_admin_context_button" id="admin_deduct_del" value="删除"/>
        <input type="button" class="class_admin_context_button" id="admin_deduct_mod" value="修改" />
        </form>
    </div>

</div> <!--end of admin body-->


{% end %}