{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/discipline.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(user_name) }}
{% end %}

{% block body %}
<h3>扣分项目管理</h3>
<div class="class_admin_body">
    <style type="text/css">
        #id_admin_sidebar_nav_deduct a{
            background: #517141; /* 设置背景色 */
        }
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
    {{ modules.AdminSidebar(controller) }}
    <div class="class_admin_context">
        <h3>当前所有扣分项目如下：</h3>
        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
        <table class="class_admin_context_table" id="admin_member_table">
        <thead class="class_admin_context_table_head" id="admin_member_table_head">
            <tr>
                <th></th>
                <th>项目编号</th>
                <th>扣分项目</th>
                <th>扣减分数</th>
            </tr>
        </thead>
        <tbody class="class_admin_context_table_body" id="admin_member_table_body">
        {% for deduct_table in deduct_tables %}
            <tr>
                <td class="class_admin_context_table_td"><input type="radio" name="select_id" value={{ deduct_table["deduct_id"] }}></td>
                <td class="class_admin_context_table_td" id="deduct_id">{{ deduct_table["deduct_id"] }}</td>
                <td class="class_admin_context_table_td" id="deduct_name">{{ deduct_table["deduct_name"] }}</td>
                <td class="class_admin_context_table_td" id="deduct_points">{{ deduct_table["deduct_points"] }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
        </form>
        <div class="class_admin_context_button_layout">
        <input type="button" class="class_admin_context_button" id="id_admin_deduct_add" value="新增" />
        <input type="button" class="class_admin_context_button" id="id_admin_deduct_del" value="删除"/>
        <input type="button" class="class_admin_context_button" id="id_admin_deduct_mod" value="修改" />
        </div>
    </div>

    <div class="class_admin_popup_background" id="id_admin_deduct_edit_popup_background">
        <div class="class_admin_popup_content" id="id_admin_deduct_edit_popup_frontend" >
            <div class="class_admin_popup_title" id="id_admin_deduct_edit_popup_close">
                <h2 id="id_admin_deduct_edit_sub_title">扣分项管理</h2>
            </div>
            <div class="class_admin_popup_body" id="id_admin_deduct_edit_popup_body">
                <p id="id_admin_deduct_edit_operation"></p>
                <p id="id_admin_deduct_edit_deduct_id"></p>
                <p><span>扣分项目:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_deduct_edit_deduct_name"  /></p>
                <p><span>扣分分数:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_deduct_edit_deduct_point"  /></p>
                <input type="button" class="class_admin_context_button" id="id_admin_deduct_edit_submit" value="提交" />
                <input type="button" class="class_admin_context_button" id="id_admin_deduct_edit_cancel" value="取消" />
            </div>

        </div>
    </div>

</div> <!--end of admin body-->


{% end %}