{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/admin.js")}}"></script>
    <script src="{{static_url("js/exchange.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(user_name, language_mapping) }}
{% end %}

{% block body %}
<h3>积分兑换</h3>
<div class="class_admin_body">
    <style type="text/css">
        #id_admin_sidebar_nav_exchange a{
            background: #517141; /* 设置背景色 */
        }
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
    {{ modules.AdminSidebar(controller, language_mapping) }}
    <div class="class_admin_context">
        <h3>当前有如下用户申请积分兑换，请处理：</h3>
        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
        <table class="class_admin_context_table" id="admin_member_table">
        <thead class="class_admin_context_table_head" id="admin_member_table_head">
            <tr>
                <th></th>
                <th>兑换编号</th>
                <th>用户名</th>
                <th>当前积分</th>
                <th>兑换物品</th>
                <th>申请时间</th>
            </tr>
        </thead>
        <tbody class="class_admin_context_table_body" id="admin_user_exchange_table_body">
        {% for user_exchange_table in user_exchange_tables %}
            {% if  user_exchange_table["exchanged"] is False %}
            <tr>
                <td class="class_admin_context_table_td" ><input type="radio" name="select_id" value={{ user_exchange_table["exchange_id"] }}></td>
                <td class="class_admin_context_table_td" id="exchange_id">{{ user_exchange_table["exchange_id"] }}</td>
                <td class="class_admin_context_table_td" id="user_name">{{ user_exchange_table["user_name"] }}</td>
                <td class="class_admin_context_table_td" id="user_points">{{ user_exchange_table["user_points"] }}</td>
                <td class="class_admin_context_table_td" id="exchange_item">{{ user_exchange_table["exchange_item"] }}</td>
                <td class="class_admin_context_table_td" id="apply_date">{{ user_exchange_table["apply_date"] }}</td>
            </tr>
            {% end %}
        {% end %}
        </tbody>
    </table>

        </form>
        <div class="class_admin_context_button_layout">
            <input type="button" class="class_admin_context_button" id="id_admin_exchange_accept" value="兑换" />
            <input type="button" class="class_admin_context_button" id="id_admin_exchange_reject" value="驳回"/>
        </div>

        <h3>当前所有积分兑换规则如下：</h3>
        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
        <table class="class_admin_context_table" id="admin_member_table">
        <thead class="class_admin_context_table_head" id="admin_member_table_head">
            <tr>
                <th></th>
                <th>规则ID</th>
                <th>兑换物品</th>
                <th>所需积分</th>
                <th>最少积分</th>
            </tr>
        </thead>
        <tbody class="class_admin_context_table_body" id="admin_exchange_table_body">
        {% for exchange_rule_table in exchange_rule_tables %}
            <tr>
                <td class="class_admin_context_table_td" ><input type="radio" name="select_id" value={{ exchange_rule_table["rule_id"] }}></td>
                <td class="class_admin_context_table_td" id="rule_id">{{ exchange_rule_table["rule_id"] }}</td>
                <td class="class_admin_context_table_td" id="rule_name">{{ exchange_rule_table["rule_name"] }}</td>
                <td class="class_admin_context_table_td" id="need_score">{{ exchange_rule_table["need_score"] }}</td>
                <td class="class_admin_context_table_td" id="points_range">{{ exchange_rule_table["points_range"] }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
        </form>
        <div class="class_admin_context_button_layout">
            <input type="button" class="class_admin_context_button" id="id_admin_exchange_add" value="新增" />
            <input type="button" class="class_admin_context_button" id="id_admin_exchange_del" value="删除"/>
            <input type="button" class="class_admin_context_button" id="id_admin_exchange_mod" value="修改" />

        </div>


        <!-- 弹窗内容开始 -->
        <div class="class_admin_popup_background" id="id_admin_exchange_edit_popup_background">
            <div  class="class_admin_popup_content" id="id_admin_exchange_edit_popup_frontend">
                <div  class="class_admin_popup_title" id="id_admin_deduct_edit_popup_close">
                    <h2 id="id_admin_exchange_edit_sub_title">兑换规则增加</h2>
                </div>
                <div class="class_admin_popup_body" id="admin_popup_body">
                    <p id="id_admin_exchange_edit_operation"></p>
                    <p id="id_admin_exchange_popup_rule_id"/></p>
                    <p><span>兑换物品:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_exchange_popup_rule_name"/></p>
                    <p><span>所需积分:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_exchange_popup_rule_points"/></p>
                    <p><span>最少积分:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_exchange_popup_rule_range"/></p>
                    <input type="button" class="class_admin_context_button" id="id_admin_exchange_edit_submit" value="提交" />
                    <input type="button" class="class_admin_context_button" id="id_admin_exchange_edit_cancel" value="取消" />

                </div>

            </div>
        </div>
        <!-- 弹窗内容结束 -->

    </div>

</div> <!--end of admin body-->


{% end %}