{% extends "../base/base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("js/admin.js")}}"></script>
    <script src="{{static_url("layer/layer.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/admin.css") }}" type="text/css">
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(user_name, language_mapping) }}
{% end %}

{% block body %}
<h3>文件管理</h3>
<div class="class_admin_body">
    <style type="text/css">
        #id_admin_sidebar_nav_explorer a{
            background: #517141; /* 设置背景色 */
        }
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
    {{ modules.AdminSidebar(controller, language_mapping) }}
    <div class="class_admin_context">
        <!--<input class="class_admin_file_upload_text" type="text" name="upload"/>-->
        <div class="class_admin_context_file">
            <div class="class_admin_context_file_title" >
                <h2>文件管理</h2>
            </div>
            <div class="class_admin_file_upload" id="id_admin_file_upload_div">
                <span>
                    <input type="file" class="class_admin_context_file_button" id="id_admin_upload_file" />
                </span>
                <input type="button" class="class_admin_context_button" id="id_admin_file_upload" value="文件上传" />
            </div>
            <div class="class_admin_file_download" id="id_admin_file_download_div">
                <span>
                    <label id="id_admin_file_download_label">请选择需要导出的内容:</label>
                    <select id="id_admin_file_download_item">
                        <option value="member_table">成员表</option>
                        <option value="points_table">积分表</option>

                    </select>
                </span>
                <input type="button" class="class_admin_context_button" id="id_admin_file_download" value="文件导出"/>
            </div>
        </div>
    </div>

</div> <!--end of admin body-->


{% end %}