<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{static_url("js_lib/jquery.min.js")}}"></script>
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/issues.js")}}"></script>
    <script src="{{static_url("js/popup.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/popup.css") }}" type="text/css">
</head>
<body>
<div class="applications">
    {% if issues_table is None %}
        <label class="applications_label">当前查无此议题</label>
    {% else %}
    <div class="applications_item_user">
        <label class="applications_label">议题编号:</label>
        <input type="text" readonly="readonly" id="id_admin_mod_issues" value={{ issues_table["topic_id"] }}>
    </div>
    <div class="applications_item_user">
        <label class="applications_label">主 讲 人:</label>
        <input type="text" id="id_input_topic_user" value={{ issues_table["name"]}}>
    </div>
    <div class="applications_item_name">
        <label class="applications_label">议题名称:</label>
        <input type="text" id="id_input_topic_name" value={{ issues_table["title"]}}>
    </div>
    <div class="applications_item_brief">
        <label class="applications_label">议题简介:</label>
        <textarea rows="4" cols="20" id="id_input_topic_brief">
        {% raw issues_table["description"] %}
        </textarea>
    </div>
    <div class="applications_item_date">
        <label class="applications_label">议题时间:</label>
        <input type="date" class="class_admin_popup_input_date" id="id_admin_issues_modify_date" value={{ issues_table["time"]}}>
    </div>
    {% end %}
</div>

<div class="class_applications_confirm">
    <input class="class_admin_popup_layer_button" type="BUTTON" value="确定" id="id_admin_mod_issues_confirm" />
    <input class="class_admin_popup_layer_button" type="BUTTON" value="取消" id="id_admin_mod_issues_cancel" />

</div>

</body>
</html>