<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{static_url("js_lib/jquery.min.js")}}"></script>
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/issues.js")}}"></script>
    <script src="{{static_url("js/popup.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/popup.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/admin.css") }}" type="text/css">
</head>
<body>
<div class="applications">
    <div class="applications_item_user">
        {% if issues_type == "designate"%}
        <label class="applications_label">主 讲 人:</label>
        {% else %}
        <label class="applications_label">受 邀 人:</label>
        {% end %}
        <input type="text" id="id_input_topic_user">
    </div>
    <div class="applications_item_name">
        <label class="applications_label">议题名称:</label>
        <input type="text" id="id_input_topic_name">
    </div>
    <div class="applications_item_brief">
        <label class="applications_label">议题简介:</label>
        <textarea rows="4" cols="20" id="id_input_topic_brief">
        </textarea>
    </div>
    <div class="applications_item_date">
        <label class="applications_label">议题时间:</label>
        <input type="date" class="class_admin_popup_input_date" id="id_admin_issues_date"/>
        <script language="JavaScript">
            var now = new Date();
            //格式化日，如果小于9，前面补0
            var day = ("0" + now.getDate()).slice(-2);
            //格式化月，如果小于9，前面补0
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            //拼装完整日期格式
            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
            $("#id_admin_issues_date").val(today);

        </script>
    </div>
</div>

<div class="class_applications_confirm">
    <input class="class_admin_popup_layer_button" type="BUTTON" value="确定" id="id_admin_add_issues_confirm" />
    <input class="class_admin_popup_layer_button" type="BUTTON" value="取消" id="id_admin_add_issues_cancel" />
</div>

    <!-- 弹窗内容开始 -->
    <div class="class_admin_popup_background" id="id_admin_meeting_edit_popup_background">
        <p id="id_admin_issues_type" >{{ issues_type }}</p>
        {% for user in user_info %}
                <p id={{ user }}>{{ user }}</p>
        {% end %}

    </div>
    <!-- 弹窗内容结束 -->
</body>
</html>