{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/admin.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(username) }}
{% end %}

{% block body %}
<h3>成员管理</h3>
<div class="class_admin_body">
    {{ modules.Admin(controller) }}
    <div class="admin_page">
        <h3>当前会议信息如下</h3>

        <form id="admin_member_form" name="member_form">
        <table id="admin_member_table">
        <thead id="admin_member_table_head">
            <tr>
                <th></th>
                <th>议题ID</th>
                <th>用户名</th>
                <th>会议室</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody id="admin_member_table_body">
        {% for meeting in meeting_tables %}
            <tr>
                <td><input type="radio" name="select_id" value={{ meeting["topic_id"] }}></td>
                 <td id="topic_id">{{ meeting["topic_id"] }}</td>
                <td id="user_name">{{ meeting["user_name"] }}</td>
                <td id="meeting_room">{{ meeting["meeting_room"] }}</td>
                <td id="meeting_date">{{ meeting["meeting_date"] }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
        <br />
        <input type="button" class="admin_del" id="id_admin_meeting_mod" value="修改"/>
        </form>
                <!-- 弹窗内容开始 -->
        <div id="admin_popup_background" class="back">
            <div id="admin_popup_frontend" class="content">
                <div id="admin_popup_close">
                    <h2>会议更改</h2>
                </div>
                <div id="admin_popup_body">
                    <h3 id="id_admin_meeting_sub_title" >弹窗标题</h3>
                    <p><span>话题编号:</span><input type="text" id="id_admin_meeting_topic_id" /></p>
                    <p><span>主讲人:</span><input type="text" id="id_admin_meeting_user_name" /></p>
                    <p><span>会议室:</span><input type="text" id="id_admin_meeting_meeting_room"/></p>
                    <p><span>会议时间:</span><input type="date" id="id_admin_meeting_meeting_date"/></p>
                    <input type="button" class="admin_mod" id="id_admin_meeting_submit" value="提交" />
                </div>

            </div>
        </div>
        <!-- 弹窗内容结束 -->

    </div>

</div> <!--end of admin body-->


{% end %}