{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/meeting.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(username) }}
{% end %}

{% block body %}
<h3>成员管理</h3>
<div class="class_admin_body">
    <style type="text/css">
        #id_admin_sidebar_nav_meeting a{
            background: #517141; /* 设置背景色 */
        }
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
    {{ modules.Admin(controller) }}
    <div class="class_admin_context">
        <h3>当前会议信息如下</h3>

        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
        <table class="class_admin_context_table" id="admin_member_table">
        <thead class="class_admin_context_table_head" id="admin_member_table_head">
            <tr>
                <th></th>
                <th>议题ID</th>
                <th>议题</th>
                <th>用户名</th>
                <th>会议室</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody id="admin_member_table_body">
        {% for meeting in meeting_tables %}
            <tr>
                <td class="class_admin_context_table_td" ><input type="radio" name="select_id" value={{ meeting["topic_id"] }}></td>
                <td class="class_admin_context_table_td" id="topic_id">{{ meeting["topic_id"] }}</td>
                <td class="class_admin_context_table_td" id="topic_title">{{ meeting["topic_title"] }}</td>
                <td class="class_admin_context_table_td" id="user_name">{{ meeting["user_name"] }}</td>
                <td class="class_admin_context_table_td" id="meeting_room">{{ meeting["meeting_room"] }}</td>
                <td class="class_admin_context_table_td" id="meeting_date">{{ meeting["meeting_date"] }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
        <br />
        <input type="button" class="class_admin_context_button" id="id_admin_meeting_mod" value="修改"/>
        <input type="button" class="class_admin_context_button" id="id_admin_meeting_add" value="增加"/>
        <input type="button" class="class_admin_context_button" id="id_admin_meeting_set_current" value="设置为当前"/>
        </form>
        <!-- 弹窗内容开始 -->
        <div class="class_admin_popup_background" id="admin_popup_background">
            <div class="class_admin_popup_content" id="admin_popup_frontend">
                <div class="class_admin_popup_title" id="admin_popup_close">
                    <h2>会议更改</h2>
                </div>
                <div class="class_admin_popup_body" id="admin_popup_body">
                    <h3 id="id_admin_meeting_sub_title" >弹窗标题</h3>
                    <p id="id_admin_meeting_topic_operation"></p>
                    <p><span>话题编号:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_meeting_topic_id"  /></p>
                    <p><span>话题:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_meeting_topic_title" /></p>
                    <p><span>主讲人:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_meeting_user_name" /></p>
                    <p><span>会议室:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_meeting_meeting_room"/></p>
                    <p><span>会议时间:</span><input type="date" class="class_admin_popup_body_input" id="id_admin_meeting_meeting_date"/></p>
                    <input type="button" class="class_admin_context_button" id="id_admin_meeting_submit" value="提交" />
                </div>

            </div>
        </div>
        <!-- 弹窗内容结束 -->
         <!-- 弹窗内容开始 -->
        <div class="class_admin_popup_background" id="id_meeting_popup_background">
            <div class="class_admin_popup_content" id="id_meeting_popup_frontend">
                <div class="class_admin_popup_title" id="admin_popup_close">
                    <h2>会议信息添加</h2>
                </div>
                <div class="class_admin_popup_body" id="id_meeting_popup_body">

                    <form class="class_admin_context_form" id="admin_member_form" name="member_form">
                        {% if len(topics_tables) %}
                        <table class="class_admin_context_table" id="admin_member_table">
                            <thead class="class_admin_context_table_head" id="admin_member_table_head">
                            <tr>
                                <th></th>
                                <th>议题ID</th>
                                <th>用户名</th>
                                <th>议题简介</th>
                            </tr>
                            </thead>
                            <tbody id="admin_member_table_body">
                            {% for topics in topics_tables %}
                                <tr>
                                    <td class="class_admin_context_table_td"><input type="radio" name="select_id" value={{ topics["topic_id"] }}></td>
                                    <td class="class_admin_context_table_td" id="id_meeting_topic_id">{{ topics["topic_id"] }}</td>
                                    <td class="class_admin_context_table_td" id="id_meeting_user_name">{{ topics["name"] }}</td>
                                    <td class="class_admin_context_table_td" id="id_meeting_topic_title">{{ topics["title"] }}</td>
                                </tr>
                            {% end %}
                            </tbody>
                        </table>

                    <br />
                    <input type="button" class="class_admin_context_button" id="id_admin_meeting_select_confirm" value="确认"/>
                    {% else %}
                    <p><span>当前无议题，无法添加会议信息，如下添加会议信息，请先添加议题</span></p>
                    <input type="button" class="class_admin_context_button" id="id_admin_meeting_select_cancel" value="取消"/>
                    {% end %}

                    </form>
                </div>

            </div>
        </div>
        <!-- 弹窗内容结束 -->


    </div>

</div> <!--end of admin body-->


{% end %}