<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{static_url("js_lib/jquery.min.js")}}"></script>
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/feedback.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/feedback.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/popup.css") }}" type="text/css">
</head>
<body>
<div class="class_admin_popup_opinions">
    {% if opinions is None %}
        <label class="class_admin_popup_opinions_label">当前查无此议题</label>
    {% else %}
    <div class="class_admin_popup_opinions_layout">
        <label class="class_admin_popup_opinions_label">问题编号:</label>
        <input class="class_admin_popup_opinions_input" type="text" readonly="readonly" id="id_admin_opinions_report_serial_number" value={{ opinions["serial_number"] }}>
        <label class="class_admin_popup_opinions_label">当前状态:</label>
        <input class="class_admin_popup_opinions_input" type="text" readonly="readonly" id="id_admin_opinions_report_status" value={{ opinions["feedback_status"]}}>
        <label  class="class_admin_popup_opinions_label">解决状态:</label>
        <select id="id_admin_opinions_resolved_status">
            <option value="resolved">解决问题</option>
            <option value="closed">关闭问题</option>
        </select>
    </div>

    <div class="class_admin_popup_opinions_layout">
        <label class="class_admin_popup_opinions_label">反馈用户:</label>
        <input class="class_admin_popup_opinions_input" type="text" readonly="readonly" id="id_admin_opinions_report_user" value={{ opinions["report_user_name"]}}>

        <label class="class_admin_popup_opinions_label">反馈时间:</label>
        <input class="class_admin_popup_opinions_input" type="text" readonly="readonly" id="id_admin_opinions_report_date" value={{ opinions["report_date"]}}>
    </div>

    <div class="class_admin_popup_opinions_layout">
        <label class="class_admin_popup_opinions_label">问题简述:</label>
        <input class="class_admin_popup_opinions_input" type="text" readonly="readonly" id="id_admin_opinions_issues_title" value={{ opinions["issues_title"]}}>
    </div>

    <div class="class_admin_popup_opinions_details">
        <label  class="class_admin_popup_opinions_label">详细描述:</label>
        <textarea class="class_admin_popup_opinions_text_area" rows="4" cols="20" readonly="readonly" id="id_admin_opinions_issues_details">
        {% raw opinions["issues_details"] %}
        </textarea>
    </div>

    <div class="class_admin_popup_opinions_details">
        <label  class="class_admin_popup_opinions_label">解决方案:</label>
        <textarea class="class_admin_popup_opinions_text_area" rows="4" cols="20" id="id_admin_opinions_solution_methods">
            {% raw opinions["solution_methods"] %}
        </textarea>
    </div>

    {% end %}
</div>

    <div class="class_applications_confirm">
        <input class="class_admin_popup_layer_button" type="BUTTON" value="提交" id="id_admin_opinions_solution_submit" />
        <input class="class_admin_popup_layer_button" type="BUTTON" value="取消" id="id_admin_opinions_solution_cancel" />

    </div>

</body>
</html>