{% extends "../base/base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/organizer.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(user_name, language_mapping) }}
{% end %}

{% block body %}
<h3>组织者管理</h3>
<div class="class_admin_body">
    <style type="text/css">
        #id_admin_sidebar_nav_organizer a{
            background: #517141; /* 设置背景色 */
        }
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
    {{ modules.AdminSidebar(controller, language_mapping) }}
    <div class="class_admin_context">
        <h3>当前组织者信息：</h3>

        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
            <table class="class_admin_context_table" id="admin_member_table">
            <thead class="class_admin_context_table_head" id="admin_member_table_head">
                <tr>
                    <th></th>
                    <th>组织者ID</th>
                    <th>用户名</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody id="admin_member_table_body">
            {% if organizer_tables is not None %}
                {% for organizer_table in organizer_tables %}
                    {% if organizer_table["current"] == True %}
                    <tr>
                        <td class="class_admin_context_table_td"><input type="radio" name="select_id" value={{ organizer_table["organizer_id"] }}></td>
                        <td class="class_admin_context_table_td" id="organizer_id">{{ organizer_table["organizer_id"] }}</td>
                        <td class="class_admin_context_table_td" id="organizer_name">{{ organizer_table["organizer_name"] }}</td>
                        <td class="class_admin_context_table_td" id="date">{{ organizer_table["date"] }}</td>
                    </tr>
                    {% end %}
                {% end %}
            {% end %}
            </tbody>
            </table>
        </form>

        <h3>历史组织者信息：</h3>

        <form class="class_admin_context_form" id="admin_member_form" name="member_form">
            <table class="class_admin_context_table" id="admin_member_table">
            <thead class="class_admin_context_table_head" id="admin_member_table_head">
                <tr>
                    <th>组织者ID</th>
                    <th>用户名</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody id="admin_member_table_body">
            {% if organizer_tables is not None %}
                {% for organizer_table in organizer_tables %}
                    {% if organizer_table["current"] == False %}
                    <tr>
                        <td class="class_admin_context_table_td" id="organizer_id">{{ organizer_table["organizer_id"] }}</td>
                        <td class="class_admin_context_table_td" id="organizer_name">{{ organizer_table["organizer_name"] }}</td>
                        <td class="class_admin_context_table_td" id="date">{{ organizer_table["date"] }}</td>
                    </tr>
                    {% end %}
                {% end %}
            {% end %}
            </tbody>
            </table>
        </form>

        <div class="class_admin_context_button_layout">
        <input type="button" class="class_admin_context_button" id="id_admin_organizer_assign" value="设定组织者" />
        </div>


        <!-- 弹窗内容开始 -->
        <div class="class_admin_popup_background" id="id_admin_organizer_edit_popup_background">
            <div class="class_admin_popup_content" id="id_admin_organizer_edit_popup_frontend">
                <div class="class_admin_popup_title"  id="id_admin_organizer_edit_popup_close">
                    <h2 id="id_admin_deduct_edit_sub_title">组织者管理</h2>
                </div>
                <div class="class_admin_popup_body" id="id_admin_organizer_edit_popup_body">
                    <p id="id_admin_organizer_edit_operation"></p>
                     <p id="id_admin_organizer_edit_id"></p>
                    <p><span>组织者姓名</span><input type="text" class="class_admin_popup_body_input" id="id_admin_organizer_name"/></p>
                     <p><span>组织者ID:</span><input type="text" class="class_admin_popup_body_input" id="id_admin_organizer_id"/></p>
                    <p><span>主持日期:</span><input type="date" class="class_admin_popup_body_input" id="id_admin_organizer_date"/></p>
                    <input type="button" class="class_admin_context_button" id="id_admin_popup_organizer_submit" value="提交" />
                    <input type="button" class="class_admin_context_button" id="id_admin_popup_organizer_cancel" value="取消" />
                </div>

            </div>
        </div>
        <!-- 弹窗内容结束 -->

        <!-- 弹窗内容开始 -->
        <div class="class_admin_popup_background" id="id_admin_organizer_select_popup_background">
            <div class="class_admin_popup_content" id="id_admin_organizer_select_popup_frontend">
                <div class="class_admin_popup_title" id="id_admin_organizer_select_popup_close">
                    <h2 id="id_organizer_select_popup_title">组织者添加</h2>
                </div>
                <div class="class_admin_popup_body" id="id_admin_organizer_select_popup_body">

                    <form class="class_admin_meeting_form" id="admin_member_form">
                        {% if len(user_tables) %}
                        <table class="class_admin_meeting_table" id="id_admin_organizer_select_popup_table">
                            <thead class="class_admin_meeting_table_head" id="id_admin_organizer_select_popup_table_head">
                            <tr>
                                <th>选择</th>
                                <th>用户ID</th>
                                <th>用户名</th>
                            </tr>
                            </thead>
                            <tbody class="class_admin_meeting_table_body" id="id_admin_organizer_select_popup_table_body">
                            {% for user in user_tables %}
                                <tr>
                                    <td class="class_admin_context_table_td"><input type="radio" name="select_id" value={{ user["user_id"] }}></td>
                                    <td class="class_admin_context_table_td" id="id_admin_organizer_select_user_name">{{ user["user_name"] }}</td>
                                    <td class="class_admin_context_table_td" id="id_admin_organizer_select_chinese_name">{{ user["chinese_name"] }}</td>
                                </tr>
                            {% end %}
                            </tbody>
                        </table>

                    <br />
                    <input type="button" class="class_admin_context_button" id="id_admin_popup_organizer_select_confirm" value="确定" />
                    <input type="button" class="class_admin_context_button" id="id_admin_popup_organizer_select_cancel" value="取消" />
                    {% else %}
                    <p><span>当前无用户信息</span></p>
                    <input type="button" class="class_admin_context_button" id="id_admin_popup_organizer_select_cancel" value="取消"/>
                    {% end %}

                    </form>
                </div>

            </div>
        </div>
        <!-- 弹窗内容结束 -->



    </div>

</div> <!--end of admin body-->


{% end %}