{% extends "../base.html" %}
<!--自动转义-->
{% block external_lib %}
<script src="{{static_url("layer/layer.js")}}"></script>
<script src="{{ static_url("js/issues.js") }}" xmlns="http://www.w3.org/1999/html"></script>
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(username) }}
{% end %}

{% block body %}
<h3>成员管理</h3>
<div class="class_admin_body">
    {{ modules.Admin(controller) }}
    <div class="class_admin_context">
        <h3>当前所有未完成议题信息如下：</h3>
    {% for topics in  user_topic_tables %}
        {% if topics["finish"] == False %}
        <div class="class_admin_context_topic">
            {% if topics["name"] != "" %}
            <!--
            <input type="radio" name="select_id" value={{ topics["topic_id"] }}>
             -->
            <div class="class_admin_context_topic_id">
                <input type="radio" name="select_id" id="id_admin_issues" value={{ topics["topic_id"] }}>
                <label class="class_admin_context_topic_details_id">议题编号:{% raw topics["topic_id"] %}</label>
            </div>
            <div class="class_admin_context_topic_details">
                <div>
                    <label class="class_admin_context_details_label">主 讲 人：</label>
                    <p class="class_admin_context_details_paragraph" id="id_admin_topic_user_name">{% raw topics["name"] %}</p>
                </div>
                <div>
                    <label class="class_admin_context_details_label">议&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp题:</label>
                    <p class="class_admin_context_details_paragraph" id="id_admin_topic_title">{% raw topics["title"] %} </p>
                </div>
                <div>
                    <label class="class_admin_context_details_label">议题简介:</label>
                    <p class="class_admin_context_details_paragraph" >{% raw topics["description"] %}</p>
                </div>
                <div>
                    <label class="class_admin_context_details_label">议题时间: </label>
                    <p class="class_admin_context_details_paragraph">{% raw topics["time"]%}</p>
                </div>
            </div>
            {% end %}
        </div>

        <p></p>
        {% end %}
    {% end %}

    <br />
    <input type="button" class="class_admin_context_button" id="admin_user_topic_add" value="新增" />
    <input type="button" class="class_admin_context_button" id="id_admin_user_topic_del" value="删除"/>
    <input type="button" class="class_admin_context_button" id="admin_user_topic_mod" value="修改" />

    </div>

</div> <!--end of admin body-->


{% end %}