<div class="admin_navigation">
    <ul class="ul_admin_navigation">
        {% if controller["admin"] == True %}
        <li class="li_admin_navigation"><a href="/admin/member">成员管理</a></li>
        <li class="li_admin_navigation"><a href="/admin/deduct">扣分项管理</a></li>
        <li class="li_admin_navigation"><a href="/admin/exchange">积分兑换</a></li>
        {% end %}
        <li class="li_admin_navigation"><a href="/admin/topics">话题管理</a></li>
        <li class="li_admin_navigation"><a href="/admin/point">积分管理</a></li>
        <li class="li_admin_navigation"><a href="/admin/organizer">组织者管理</a></li>
    </ul>
</div>