<div class="admin_navigation">
    <ul class="ul_admin_navigation" id="id_admin_sidebar_nav">
        {% if controller["admin"] == True %}
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_member"><a href="/admin/member">成员管理</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_deduct"><a href="/admin/deduct">扣分项管理</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_exchange"><a href="/admin/exchange">积分兑换</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_explorer"><a href="/admin/explorer">文件管理</a></li>
        {% end %}
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_topics"><a href="/admin/topics">话题管理</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_point"><a href="/admin/point">积分管理</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_organizer"><a href="/admin/organizer">组织者管理</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_meeting"><a href="/admin/meeting">会议管理</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_attendance"><a href="/admin/attendance">出勤管理</a></li>
        <li class="li_admin_navigation" id="id_admin_sidebar_nav_evaluating"><a href="/admin/evaluating">评价管理</a></li>

    </ul>
</div>