<div id="info_tables">
    <table class="table_structure"  frame="box">
        <colgroup>
            <col class="col_name"/>
            <col class="col_late"/>
            <col class="col_retreat"/>
            <col class="col_absenteeism"/>
            <col class="col_un_present"/>
            <col class="col_total"/>
            <col class="col_table_button"/>
        </colgroup>
        <thead>
        <tr id="table_title">
            <th colspan="8">分数统计表</th>
        </tr>
        </thead>
        <tbody>
            <tr id="table_item_name">
                <th>姓名</th>
                <th>迟到</th>
                <th>早退</th>
                <th>旷会</th>
                <th>未出席</th>
                <th>当前分数</th>
                <th colspan="2">操作</th>
            </tr>
        {% for lines in tables %}
        <tr>
            <td id="name">{{lines["name"]}}</td>
            <td id="late">{{lines["late"]}}</td>
            <td id="retreat">{{lines["retreat"]}}</td>
            <td id="absenteeism">{{lines["absenteeism"]}}</td>
            <td id="un_present">{{lines["un_present"]}}</td>
            <td id="total">{{lines["total"]}}</td>
            <td>
                <div id="table_button">
                    <input id="table_check"  type="button" value="详细信息" >
                    {% if controller["admin"] == True or controller["organizer"] == True %}
                    <input id="table_edit"  type="button" value="编辑" >
                    {% end %}
                </div>

            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>