<div class="topic_subtitle">
    <ul id="topic_menu">
        <li id="id_topic_subtitle_current"><a href={{ language_mapping["current_topic"]["link"] }}>{{ language_mapping["current_topic"]["name"] }}</a></li>
        <li id="id_topic_subtitle_assessment"><a href={{ language_mapping["assessment_topic"]["link"] }}>{{ language_mapping["assessment_topic"]["name"] }}</a></li>
        <li id="id_topic_subtitle_evaluation"><a href={{ language_mapping["evaluation_topic"]["link"] }}>{{ language_mapping["evaluation_topic"]["name"] }}</a></li>
        <li id="id_topic_subtitle_history"><a href={{ language_mapping["history_topic"]["link"] }}>{{ language_mapping["history_topic"]["name"] }}</a></li>
    </ul>
</div>
