<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{{static_url("js_lib/jquery.min.js")}}"></script>
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/popup.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/popup.css") }}" type="text/css">
</head>
<body>
    <div class="class_popup_edit_name">
        <label id="id_popup_leave_apply_user_name">姓名:{{ username }}</label>
    </div>
    <div id="edit_title">
        <h3>请假明细：</h3>
    </div>
    <div id="id_edit_detail">
        <div class="class_popup_edit_item">
            <label class="label_popup_edit">请假事由</label>
            <div class="class_edit_input_block">
                {% if leave_reason is not None %}
                <select id="id_popup_leave_apply_reason">
                    {% for reason in  leave_reason%}
                    <option value={{ reason["reason_id"] }}>{{reason["leave_reason"]}}</option>
                    {% end %}
                </select>
                {% end %}
            </div>
        </div>

         <div class="class_popup_edit_item">
             <label class="label_popup_edit">请假时间</label>
             <input type="date" id="id_popup_leave_apply_date"/>
        </div>

    </div>

    <div class="class_popup_submit">
        <input type="BUTTON" value="提交" id="id_popup_leave_apply_submit" />
    </div>

</body>
</html>