{% extends "base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("js/admin.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/admin.css") }}" type="text/css">
{% end %}
{% autoescape None %}
{% block header %}
{{ modules.Header(user_name) }}
{% end %}

{% block body %}
    <style type="text/css">
        #id_nav_admin a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
<h3>后台及用户管理页面</h3>
<div class="class_admin_body">
    {{ modules.AdminSidebar(controller) }}
    <div class="admin_page">
        <p>后台管理页面，不同角色有不同的管理权限。管理员有所有权限，组织者只有组织者权限</p>
        <div>

        </div>
    </div>

</div> <!--end of admin body-->


{% end %}