{% extends "base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("js/admin.js")}}"></script>
{% end %}
{% autoescape None %}
{% block header %}
    {% if username == None %}
        <h2>欢迎访问信息管理系统测试版</h2>
    {% else %}
        <h2>欢迎您，{{username}}</h2>
    {% end%}
{% end %}

{% block body %}
<h3>组织者管理</h3>
<div class="class_admin_body">
    {{ modules.Admin(controller) }}
    <div class="admin_page">

        <p>后台管理页面</p>
    </div>

</div> <!--end of admin body-->


{% end %}