{% extends "base.html" %}
<!--自动转义-->
{% block external_lib %}
    <script src="{{static_url("js/admin.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/admin.css") }}" type="text/css">
{% end %}
{% autoescape None %}
{% block header %}
    {% if username == None %}
        <h2>欢迎访问信息管理系统测试版</h2>
    {% else %}
        <h2>欢迎您，{{username}}</h2>
    {% end%}
{% end %}

{% block body %}
<h3>积分管理</h3>
<div class="class_admin_body">
   <div class="admin_navigation">
    <ul class="ul_admin_navigation">
        <li class="li_admin_navigation"><a href="/admin/member">成员管理</a></li>
        <li class="li_admin_navigation"><a href="/admin/topics">话题管理</a></li>
        <li class="li_admin_navigation"><a href="/admin/point">积分管理</a></li>
        <li class="li_admin_navigation"><a href="/admin/organizer">组织者管理</a></li>
    </ul>

    </div>

    <div class="admin_page">

        <p>后台管理页面</p>
    </div>

</div> <!--end of admin body-->


{% end %}