<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{{static_url("js_lib/jquery.min.js")}}"></script>
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/popup.js")}}"></script>
    <link rel="stylesheet" href="{{ static_url("css/popup.css") }}" type="text/css">

</head>
<body>
    <div class="class_popup_edit_name">
        {% if point_stat is not None %}
            <label class="label_popup_edit_name">用户ID：{{ point_stat["user_name"] }}</label>
        {% end %}
    </div>
    <div class="class_popup_browse_detail">
        {% if point_stat is not None %}
            <table class="class_popup_table_score_detail"  frame="box">
                <thead>
                <tr id="id_popup_table_title">
                    <th colspan="6">当前分数明细</th>
                </tr>
                </thead>
                <tbody>
                    <tr id="id_popup_table_score_detail_item_name">
                        <th>序号</th>
                        <th>项目</th>
                        <th>分数</th>
                        <th>序号</th>
                        <th>项目</th>
                        <th>分数</th>
                    </tr>
            {% set index = 0 %}
            {% for key in point_stat %}
                {% if key != "user_name" %}
                    {% set index = index + 1 %}
                    {% if index % 2 == 1 %}
                        <tr>
                    {% end %} <!-- end of if index -->
                        <td id="id_popup_table_score_detail_index">{{ index }}</td>
                        <td id="id_popup_table_score_detail_key">{{ key }}</td>
                        <td id="id_popup_table_score_detail_value">{{point_stat[key]}}</td>
                    {% if index % 2 == 0 %}
                        </tr>
                    {% end %} <!-- end of if index -->
            {% end %} <!-- end of if key -->
        {% end %}<!-- end of for key -->
        {% if index % 2 == 1 %}
        {% set index = index + 1 %}
        <td id="id_popup_table_score_detail_index">{{ index }}</td>
        <td id="id_popup_table_score_detail_key"></td>
        <td id="id_popup_table_score_detail_value"></td>
        </tr>
        {% end %}<!-- end of if index -->
    {% end %} <!-- end of if point_stat -->
            </tbody>
        </table>
    </div>

    <div class="class_popup_browse_score_change_detail">
    <table class="class_popup_table_score_detail"  frame="box">
        <thead>
        <tr id="id_popup_table_title">
            <th colspan="4">分数变动详情</th>
        </tr>
        </thead>
        <tbody>
            <tr id="id_popup_table_score_detail_item_name">
                <th>处理人ID</th>
                <th>姓名</th>
                <th>分数</th>
                <th>处理时间</th>
            </tr>
            {% if history_table is not None %}
                {% for history in history_table %}
                <tr>
                    <td id="id_popup_item_transactor">{{history["transactor"]}}</td>
                    <td id="id_popup_item_mark_name">{{history["mark_name"]}}</td>
                    <td id="id_popup_item_points">{{history["points"]}}</td>
                    <td id="id_popup_item_datetime">{{history["datetime"]}}</td>
                </tr>
                {% end %}
            {% end %}
        </tbody>
    </table>
    </div>

    <div class="class_popup_back">
        <input type="BUTTON" value="返回" id="popup_back" />
    </div>
</body>
</html>