<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{static_url("js_lib/jquery.min.js")}}"></script>
    <script src="{{static_url("layer/layer.js")}}"></script>
    <script src="{{static_url("js/topic.js")}}"></script>
</head>
<body>
<div class="applications">
    <div class="applications_item">
        <label class="applications_label">议题名称:</label>
        <input type="text">
        </input>
    </div>
    <div class="applications_item">
        <label class="applications_label">议题简介:</label>
        <input type="text">
        </input>
    </div>
    <div class="applications_item">
        <label class="applications_label">议题时间:</label>
        <select name="quiz3">
            <option value="1">2018-8-7</option>
            <option value="2">2018-8-8</option>
            <option value="3">2018-8-8</option>
        </select>
    </div>
</div>
<div>
    <p><input type="BUTTON" value="申请" id="applications_confirm" /></p>
</div>
</body>
</html>