{% extends "base.html" %}

{% block header %}
    <h2>修改密码</h2>
{% end %}
{% block body %}
    <form class="modify_password_form" name="modify_password_form" action="/modify_password" method="post">
        {% raw xsrf_form_html() %}
        <p><span>输入账号:</span><input type="text" id="username"/></p>
        <p><span>输入原密码:</span><input type="password" id="old_password" /></p>
        <p><span>输入新密码:</span><input type="password" id="new_password" /></p>
        <p><span>验证新密码:</span><input type="password" id="confirm" /></p>
        <p><button id="modify_password" type="button">修改</button></p>
    </form>
{% end %}