{% extends "base.html" %}
<!--自动转义-->
{% autoescape None %}
{% block external_lib %}
    <script src="{{static_url("layer/layer.js")}}"></script>
{% end %}
<!-- 网页内嵌js代码实现-->
{% block script %}
    <script>

    </script>
{% end %}

{% block header %}
{{ modules.Header(username) }}
{% end %}

{% block body %}
    <style type="text/css">
        #id_nav_statistics a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
{% if controller["authorized"] == True %}
    <h3> 您当前积分为：{{ current_point }} </h3>
    <div class="class_popup_browse_detail">
         <h3>当前分数明细如下：</h3>
        {% if point_stat is not None %}
            {% for key in point_stat %}
                {% if key != "username" %}
                <label class="label_popup_browse_detail">{{ key }}: {{point_stat[key]}}分。</label>
                <br>
                {% end %}
            {% end %}
        {% end %}
    </div>
    <div id="edit_title">
        <h3>分数变动明细如下：</h3>
    </div>

    <div class="class_popup_browse">
    <table class="class_popup_table_structure"  frame="box">
        <colgroup>
            <col class="col_history_table_transactor"/>
            <col class="col_history_table_mark_name"/>
            <col class="col_history_table_points"/>
            <col class="col_history_table_datetime"/>
        </colgroup>
        <thead>
        <tr id="id_popup_table_title">
            <th colspan="4">分数详情</th>
        </tr>
        </thead>
        <tbody>
            <tr id="id_popup_table_item_name">
                <th>用户ID</th>
                <th>姓名</th>
                <th>上周分数</th>
                <th>当前分数</th>
            </tr>
            {% if history_table is not None %}
                {% for history in history_table %}
                <tr>
                    <td id="id_popup_item_transactor">{{history["transactor"]}}</td>
                    <td id="id_popup_item_mark_name">{{history["mark_name"]}}</td>
                    <td id="id_popup_item_points">{{history["points"]}}</td>
                    <td id="id_popup_item_datetime">{{history["datetime"]}}</td>
                </tr>
                {% end %}
            {% end %}
        </tbody>
    </table>
    </div>

    <div id="points_exchange">
    <h2> 积分兑换</h2>
        {% if len(presents_table) %}
            <h3> 您当前积分为：{{ current_point }} .</h3>
            <p>您当前可以兑换物品为：</p>
                <table class="class_popup_table_structure"  frame="box">
                    <colgroup>
                        <col class="col_history_table_transactor"/>
                        <col class="col_history_table_mark_name"/>
                        <col class="col_history_table_points"/>
                        <col class="col_history_table_points"/>
                    </colgroup>
                    <thead>
                    <tr id="id_popup_table_title">
                        <th colspan="4">兑换物品详情</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr id="id_popup_table_item_name">
                            <th>兑换物品</th>
                            <th>所需积分</th>
                            <th>最少积分</th>
                            <th>兑换后积分</th>
                        </tr>
                        {% if presents_table is not None %}
                            {% for present in presents_table %}
                                {% set exchange_after = current_point - present["consume_point"] %}
                            <tr>
                                <td id="id_popup_item_transactor">{{present["present_name"]}}</td>
                                <td id="id_popup_item_mark_name">{{present["consume_point"]}}</td>
                                <td id="id_popup_item_points">{{present["min_points"]}}</td>
                                <td id="id_popup_item_points">{{exchange_after}}</td>
                            </tr>
                            {% end %}
                        {% end %}
                    </tbody>
                </table>
            {% set exchange_flags = True %}
        {% else %}
            <p>您当前积分不足，无法兑换。如需兑换，积分需满足大于16分。</p>
            {% set exchange_flags = False %}
        {% end %}

    {% if exchange_flags == True %}
    <label class="label_popup_edit">请选择您需要兑换的物品。</label>
        <div class="class_edit_input_block">
            <select id="id_points_exchange_select">
                {% for present in presents_table %}
                <option value={{ present["present_id"] }}>{{ present["present_name"] }}</option>
                {% end %}
            </select>
        </div>
    <input type="button" class="class_points_exchange_user" id="id_points_exchange_user" value="积分兑换"/>
    {% end %}
    </div>
{% else %}
<p> 您未登录，如需查看积分，请先登录 </p>
{% end %}

{% end %}
