{% extends "base.html" %}
<!--自动转义-->
{% autoescape None %}

<!-- 网页内嵌js代码实现-->
{% block script %}
    <script>

    </script>
{% end %}

{% block header %}
{% if username == None %}
    <h2>欢迎访问信息管理系统测试版</h2>
{% else %}
    <h2>欢迎您：{{username}}</h2>
{% end%}
{% end %}

{% block body %}

{% if controller["authorized"] == True %}
    {% if user_score != None %}
    <h3> 您当前积分如下： </h3>
    <div id="info_tables">
        <table class="table_structure"  frame="box">
            <colgroup>
                <col class="col_name"/>
                <col class="col_late"/>
                <col class="col_retreat"/>
                <col class="col_absenteeism"/>
                <col class="col_un_present"/>
                <col class="col_total"/>
                <col>
            </colgroup>
          <thead id="user_score">
            <tr>
                <th>姓名</th>
                <th>迟到</th>
                <th>早退</th>
                <th>旷会</th>
                <th>未出席</th>
                <th>当前分数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td id="name">{{user_score["name"]}}</td>
                <td id="late">{{user_score["late"]}}</td>
                <td id="retreat">{{user_score["retreat"]}}</td>
                <td id="absenteeism">{{user_score["absenteeism"]}}</td>
                <td id="un_present">{{user_score["un_present"]}}</td>
                <td id="total">{{user_score["total"]}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    {% end %}

{% else %}
<p> 您未登录，如需查看积分，请先登录 </p>
{% end %}

{% end %}
