{% extends "base.html" %}
<!--自动转义-->
{% autoescape None %}
{% block header %}
{{ modules.Header(username) }}
{% end %}

{% block body %}
    <style type="text/css">
        #id_nav_topics a{
             background: #ffc94e; /* 设置背景色 */
        }
    </style>
<h3> 本周议题：</h3>
{% for topics in  topics_table %}
<div class="topics_current">
    {% if topics["current"] == True %}
    <h5 class="username">议题主讲人：{{ topics["name"] }}</h5>
    <div class="topic_details">
        <h4>议题:</h4>
        <div class="topic_title">{{ topics["title"]}}</div>
        <h4>议题简介:</h4>
        <div class="topic_description">{% raw topics["description"] %}</div>
        <h4>议题时间:</h4>
        <div class="topic_time">{% raw topics["time"] %}</div>
    </div>
    {% end %}
</div>
{% end %}

<h3> 历史议题信息：</h3>

{% for topics in  topics_table %}
    {% if topics["current"] == True %}
        {%  continue %}
    {% end %}
    {% if topics["finish"] == True %}
    <div class="topics">
        {% if topics["name"] != "" %}
        <h5 class="username">议题主讲人：{{ topics["name"] }}</h5>
        <div class="topic_details">
            <h4>议题:</h4>
            <div class="topic_title">{{ topics["title"]}}</div>
            <h4>议题简介:</h4>
            <div class="topic_description">{% raw topics["description"] %}</div>
            <h4>议题时间:</h4>
            <div class="topic_time">{% raw topics["time"] %}</div>
        </div>
        {% end %}
    </div>
    {% end %}
    <p></p>
{% end %}

{% end %}